# Dependencias
node_modules/
package-lock.json
yarn.lock

# Entorno
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/settings.json
!.vscode

# Temporales
*.tmp
*.swp
*.swo
*~
